<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediswift: Home</title>
    <link rel="stylesheet" href="/stylesheets/appointmentConfirmation.css">

    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">



    
</head>
<body>
    <div id="headerDiv">

        <div id="headerLogoDiv">
            <a href="/" id="headerLogoAnchor">
                <img src="/images/logo.png" alt="" id="headerLogoImg">
            </a>
        </div>

        <div id="headerCentralDiv">
            <a href="" class="headerCentralButtons">Pharmacy</a>
            <a href="/book" class="headerCentralButtons" id="findDoctorButton">Find a Doctor</a>
        </div>
        
        

    </div>

    <div class="bodyDiv">
        <!-- <div id="imageDiv">
            <img src="/images/dhruvImg.png" alt="" id="doctorImageMain">
        </div> -->
        <img src="/images/tickLogo.png" alt="" id="tickLogo">
        <h4 id="confirmationText">Booking Confirmed!</h4>

    </div>

    <div class="bodyDiv">
        <p id="redirectingText">Redirecting in 3 Seconds...</p>
    </div>

   



    <div id="footerDiv">
        <a href="" class="footerLinks">
            <img src="/images/phoneImg.png" alt="" id="phoneImgLogo">
            <h6 class="footerLinksTexts">Contact Us</h6></a>
        <a href="" class="footerLinks"><img src="/images/linkedinImg.png" id="linkedinImg">
            <h6 class="footerLinksTexts">Linked In</h6></a>
        <a href="" class="footerLinks"><img src="/images/githubLogoImg.png" id="githubImg">
            <h6 class="footerLinksTexts">GitHub</h6></a>
        

            <div id="footerLogoDiv">
                <img src="/images/logo.png" alt="" id="footerLogoImg">
                <h4 id="footerTagline">Your Medical Assistant</h4>
            </div>
    </div>


    <script>
        setTimeout(function () {
            window.location.href = "/";
        }, 3000);
    </script>
</body>
</html>
