<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/doctorSignup.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div id="headerDiv">

        <div id="headerLogoDiv">
            <a href="/" id="headerLogoAnchor">
                <img src="/images/logo.png" alt="" id="headerLogoImg">
            </a>
        </div>

        <!-- <div id="headerCentralDiv"> -->
            <!-- <a href="" class="headerCentralButtons">Pharmacy</a> -->
            <!-- <a href="" class="headerCentralButtons" id="findDoctorButton">Find a Doctor</a> -->
        <!-- </div> -->

        <!-- <div id="loginDiv"> -->
            <!-- <a href="" class="login_signup_btn">Login</a> -->
            <!-- <a href="" class="login_signup_btn">Sign Up</a> -->
        <!-- </div> -->


    </div>
    <div id="bodyDiv">
        <div class="container">
            <h2>Doctor Sign Up</h2>
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                  <label for="emailId">Email Address:</label>
                  <input type="email" id="emailId" name="emailId" required>
              </div>
                <div class="form-group">
                    <label for="institute">Institute:</label>
                    <input type="text" id="institute" name="institute" required>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label for="field">Specialisation:</label>
                        <input type="text" id="field" name="specialisation" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="experience">Experience (Years):</label>
                        <input type="number" id="experience" name="experience" required>
                    </div>
                    <div class="form-group">
                        <label for="language">Language:</label>
                        <input type="text" id="language" name="language" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="image">Profile Image:</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="passwrod">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="text" id="confirmPassword" name="confirmPassword" required>
                </div>
                <div class="form-group">
                    <label for="description">Brief Description:</label>
                    <textarea id="description" name="description" rows="4" required></textarea>
                </div>
    
                <button type="submit">Register</button>

                <p>Already a doctor? <a href="" id="logindoctor">LogIn</a></p>
            </form>
        </div>
    </div>
 
    <div id="footerDiv">
        <a href="" class="footerLinks">
            <img src="/images/phoneImg.png" alt="" id="phoneImgLogo">
            <h6 class="footerLinksTexts">Contact Us</h6></a>
        <a href="" class="footerLinks"><img src="/images/linkedinImg.png" id="linkedinImg">
            <h6 class="footerLinksTexts">Linked In</h6></a>
        <a href="" class="footerLinks"><img src="/images/githubLogoImg.png" id="githubImg">
            <h6 class="footerLinksTexts">GitHub</h6></a>
        
    
            <div id="footerLogoDiv">
                <img src="/images/logo.png" alt="" id="footerLogoImg">
                <h4 id="footerTagline">Your Medical Assistant</h4>
            </div>
    </div>

</body>
</html>