* {
    margin: 0%;
    padding: 0%;
}



body {
    background-image: url('/images/newBg.png');
    background-size: cover;
}

#headerDiv {
    height:70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.201);
    /* opacity: 30%; */
    display: flex;
}

#headerLogoDiv {
    height: 65px;
    /* width: 100px; */
    width: 6.5%;
    /* background-color: pink; */
    margin: 2.5px 0px 0px 5px;

}

#headerCentralDiv {
    height: 65px;
    /* width: 1200px; */
    width: 78%;
    /* background-color: pink; */
    margin: 2.5px 0px 0px 5px;
    display: flex;
    justify-content: right;
    align-items: center;

    padding-right: 20px;
}

#loginDiv {
    height: 65px;
    /* width: 220px; */
    width: 15.5%;
    /* background-color: pink; */
    margin: 2.5px 0px 0px 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_signup_btn {
    height: 50px;
    /* width: 100px; */
    width: 45%;
    background-color: rgb(54, 138, 248);
    border-radius: 7px;
    margin-right: 5px;
    margin-left: 5px;


    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.headerCentralButtons {
    /* height: 55px; */
    width: 100px;
    /* background-color: rgb(54, 138, 248); */
    border-radius: 7px;
    margin-right: 5px;
    margin-left: 5px;


    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 10px 0px 10px;
}

#findDoctorButton {
    width: 130px;

}

#headerLogoAnchor {
    height: 65px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerLogoImg {
    height: 60px;
}



/* added by nasim*/

#footerDiv
{
    width:100%;
    height:250px;

    display:flex;
    flex-direction:column;
    background-color: rgba(0,0,0,0.201);
    justify-content:center;
    align-items:center;
    border-spacing: space-between;

    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.footerLinks {
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

#phoneImgLogo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
#linkedinImg
{
    height:30px;
    width:30px;
    margin-right:10px;
}
#githubImg
{
    height:30px;
    width:30px;
    margin-right:10px;
}

#footerLinksTexts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footerLogoDiv {
    width: 100%;
    height: 100px; 

    display: flex;
    justify-content: center;
    align-items: center;

}

#footerLogoImg {
    height: 80px;
    width: 80px;
}

#footerTagline {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 10px;
}

#logoutAnchor {
    /* background-color: pink; */
    height: 50px;
    width: 50px;
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoutImg {
    height: 28px;
    width: 28px;
}

#welcomeText {
    color: white;
    font-family: "Josefin Sans";
    font-size: 20px;
    /* background-color: pink; */
    width: 200px;
}
 

        .biggerdiv {
            width: 100%;
            height:500px;
            /* margin: 50px auto; */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            /* padding: 20px; */
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .contentdivs {
            width: 300px;
            height: 300px;
            background-color: rgba(135, 207, 235, 0.611);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 20px;
            font-weight: bold;
            border-radius: 18px;
            margin: 10px;
            flex-direction:column;
        }
        .header
        {
    
         color:black;
         justify-content:first baseline;
         font-family:Exo 2;
         text-align:center;
         padding-top:5px;
         position:relative;
         margin-bottom:18px;
         font-family:"Exo 2";
        }
       .divcontent{
            text-align:center;
            color:black;
            font-family:"Exo 2";
        }
        .ImageHomePage{
            width:20px;
            height:20px;
        }


#shoppingDiv {
    /* background-color: white; */
    width: 100%;
    min-height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#shoppingCardsDiv {
    /* background-color: orange; */
    min-height: 350px;
    width: 900px;

    display: flex;
    flex-wrap: wrap;
}

.shoppingCard {
    height: 300px;
    width: 200px;
    background-color: rgba(151, 137, 255, 0.356);
    border-radius: 9px;
    margin: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.itemImage {
    height: 150px;
    width: 150px;
    
}

.itemTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.addToCartButton {
    height: 40px;
    width: 85px;
    background-color: rgb(247, 220, 101);
    outline: none;
    border: none;
    border-radius: 7px;
    margin-top: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.priceTag {
    font-size: 25px;
    color: white;
    font-family: "Josefin Sans";
    margin-top: 10px;
}

#cartButton {
    font-size: 25px;
    color: rgb(255, 203, 105);
}